flows.json
[{"id":"a4e79216.096d1","type":"tab","label":"AutoAI Prediction","disabled":false,"info":""},{"id":"8d11c42b.7d54a8","type":"function","z":"a4e79216.096d1","name":"PreToken","func":"global.set(\"v\",msg.payload.v)\nglobal.set(\"wd\",msg.payload.wd)\nglobal.set(\"dt\",msg.payload.dt)\nglobal.set(\"tpc\",msg.payload.tpc)\nvar apikey=\"B_d2Rvw1_kwYK5Y6oZu9T0Q8Hzfm_lY0UGoROVl7yeuo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":487,"y":216,"wires":[["149ef152.fb168f"]]},{"id":"149ef152.fb168f","type":"http request","z":"a4e79216.096d1","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":683,"y":219.99999523162842,"wires":[["60806850.4daf68"]]},{"id":"df34208d.977e4","type":"inject","z":"a4e79216.096d1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":352,"y":119.99999523162842,"wires":[["8d11c42b.7d54a8"]]},{"id":"98637ca7.fb2db","type":"debug","z":"a4e79216.096d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":942,"y":319.9999952316284,"wires":[]},{"id":"60806850.4daf68","type":"function","z":"a4e79216.096d1","name":"Pre Prediction","func":"var v = parseFloat(global.get('v'))\nvar wd = parseFloat(global.get('wd'))\nvar dt = global.get('dt')\nvar tpc = parseFloat(global.get('tpc'))\nvar token=msg.payload.access_token\nvar instance_id=\"03b226c6-2161-4e2e-b3fe-3d45aa3959b9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"Date/Time\", \"Wind Speed (m/s)\", \"Theoretical_Power_Curve (KWh)\", \"Wind Direction (°)\"], \"values\": [[dt,v,tpc,wd]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":912,"y":219.99999523162842,"wires":[["b0b91a91.042b08"]]},{"id":"b0b91a91.042b08","type":"http request","z":"a4e79216.096d1","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/bd3153f3-878f-4ef5-96d2-bab6f53d626e/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1122,"y":219.99999523162842,"wires":[["3929e7b3.0a6718"]]},{"id":"52967ab.1bd1184","type":"ui_form","z":"a4e79216.096d1","name":"","label":"","group":"f192fd92.fad36","order":2,"width":0,"height":0,"options":[{"label":"Velocity(in cube)","value":"v","type":"text","required":true,"rows":null},{"label":"Wind Direction","value":"wd","type":"text","required":true,"rows":null},{"label":"Theoretical Power Curve","value":"tpc","type":"text","required":true,"rows":null},{"label":"Date Time","value":"dt","type":"text","required":true,"rows":null}],"formValue":{"v":"","wd":"","tpc":"","dt":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":362,"y":299.9999952316284,"wires":[["8d11c42b.7d54a8"]]},{"id":"e52138a1.7d1d68","type":"ui_text","z":"a4e79216.096d1","group":"f192fd92.fad36","order":4,"width":0,"height":0,"name":"","label":"Predicted Power","format":"{{msg.payload}}","layout":"row-spread","x":972,"y":399.9999952316284,"wires":[]},{"id":"3929e7b3.0a6718","type":"function","z":"a4e79216.096d1","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":642,"y":339.9999952316284,"wires":[["98637ca7.fb2db","e52138a1.7d1d68"]]},{"id":"e6a6dc75.7633f","type":"debug","z":"a4e79216.096d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":852,"y":119.99999523162842,"wires":[]},{"id":"f192fd92.fad36","type":"ui_group","z":"","name":"Default","tab":"c84fbb72.12ef78","order":1,"disp":true,"width":"6","collapse":false},{"id":"c84fbb72.12ef78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]